<launch>
    <let name="config_file" value="/home/pmsaikia/ros2_ws/src/VINS-Mono-GTSAM/vins_estimator/config/euroc/euroc_config.yaml" />
    <let name="vins_folder" value="/home/pmsaikia/ros2_ws/src/VINS-Mono-GTSAM/vins_estimator/" />

    <node pkg="feature_tracker" exec="feature_tracker_node" name="feature_tracker" output="screen" args="$(var config_file)" />

    <node pkg="vins_estimator" exec="vins_estimator_node" name="vins_estimator" output="screen" args="$(var config_file) $(var vins_folder)" />

    <node pkg="pose_graph" exec="pose_graph_node" name="pose_graph" output="screen" args="$(var config_file) $(var vins_folder)" />
</launch>
